
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="well">
    <h4>Restaurantes</h4>
    
</div>

<div>
    <ng-view></ng-view>
</div>

@section scripts
{

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/scripts/angular-messages.js"></script>
    <script src="~/AngularApp/js/webrest.js"></script>
    <script src="~/scripts/angular-ptbr.js"></script>
    <script src="~/AngularApp/js/homecontroller.js"></script>
    <script src="~/AngularApp/js/restaurantesController.js"></script>
    <script src="~/AngularApp/js/PratosController.js"></script>
}


